<div class="box collapse-box" id="stats">
    <div class="title">
        <div class="x collapse-button">
            -/+
        </div>
        Statistics
    </div>
    <div class="collapse-content">
        <div class="content_top">
        </div>
        <div class="content">
            {{ usersOnlineCount }} User{% if usersOnlineCount > 1 %}s{% endif %} Online:
            <div id="statusers">
                {%- for user in usersOnline -%}
                    {%- if user.isBot -%}
                        <a
                            class="user{{ user.uid }}"
                            title="{{ user.locationVerbose|default('Viewing the board.') }}"
                            data-use-tooltip="true"
                        >{{ user.name }}</a>
                    {%- else -%}
                        <a
                            href="{{ user.profileURL }}"
                            class="user{{ user.uid }} mgroup{{ user.groupID }}
                            {% if user.status == 'idle' %}
                                idle lastAction{{ user.lastAction }}
                            {% endif %}
                            {% if user.birthday %}
                                birthday
                            {% endif %}"
                            title="{{ user.locationVerbose|default('Viewing the board.') }}"
                            data-use-tooltip="true"
                        >{{ user.name }}</a>
                    {%- endif -%}
                {%- endfor -%}
                {%- if guestCount -%}
                    {%- if canModerate -%}
                        <a href="{{ url('modcontrols', { do: 'onlineSessions' }) }}">{{ guestCount }} guest{% if guestCount>0 %}s{% endif %}</a>
                    {%- else -%}
                        {%- if usersOnline %}and {% endif -%}
                        {{ guestCount }} guest{% if guestCount>1 %}s{% endif %}
                    {%- endif -%}
                {%- endif -%}
            </div>
            <div class="userstoday">
                {{ usersOnlineToday|length }} User{% if usersOnlineToday|length != 1 %}s{% endif %} Online Today:

                {% for user in usersOnlineToday %}
                    <a href="{% if not user.isBot %}{{ url('profile', { id: user.uid }) }}{% endif %}"
                    class="user{{ user.uid }} mgroup{{ user.groupID }} {% if user.birthday %}birthday{% endif %}"
                    title="Last online: {{ user.lastOnlineRelative }}"
                    data-use-tooltip="true"
                    data-last-online="{{ user.lastOnline }}"
                    >{{ user.name }}</a>{% if not loop.last %}, {% endif %}
                {% endfor %}

                <br>
                {% for group in legend %}
                    <a href="{{ url('members') }}" class="mgroup{{ group.id }}">{{ group.title }}</a>
                {% endfor %}
            </div>
            <div class="stats">
                Our <strong>{{ stats.members|number_format }}</strong> {% if stats.members == 1 %}user has{% else %}users have{% endif %} made
                <strong>{{ stats.topics|number_format }}</strong> topics with <strong>{{ stats.posts|number_format }}</strong> posts.
                Newest Member: {% include 'user-link.html.twig' with { user: lastRegisteredMember } only %}
            </div>
        </div>
        <div class="content_bottom">
        </div>
    </div>
</div>
