<tr>
  <td>
    <span>
      {{ title }}
    </span>
    {{ custom }}
  </td>
  <td>
    <a href="/ACP/Themes?editcss={{ id }}">{{ view_or_edit }}
      CSS</a>
  </td>
  <td>
    <select name='wrapper[{{ id }}]' title="Choose wrapper for this skin">
      {{ default_option }}
      {{ wrapper_options }}
    </select>
  </td>
  <td>
    {{ delete }}
  </td>
  <td>
    <input
      name="hidden[{{ id }}]"
      type="checkbox"
      class="switch yn"
      {% if skin.hidden %}checked{% endif %}
    >
  </td>
  <td>
    <input
      type="radio"
      name="default"
      title="Set as default skin"
      value="{{ id }}"
      {% if skin.default %}checked{% endif %}
    >
  </td>
</tr>
