<div class="welcome">
    Hi, {% include 'user-link.html.twig' with { user } only -%}!
    <a href="{{ url('logout') }}" class="logout">Logout</a>
</div>
<div class="lastvisit">Last Visit: {{ lastVisit }}</div>
<div class="messages">
    <u>I</u>nbox: <a
        href="{{ url('inbox') }}"
        id="num-messages"
        class="num-messages"
        title="View your inbox or send a new PM"
        data-shortcut="i"
    >{{ unreadMessages }}</a>
</div>
<div class="settings">
    <a href="{{ url('ucp') }}" title="Update your profile and settings" data-shortcut="s"><u>S</u>ettings</a>
</div>
