{% if voted %}
    <table>
        <tr><th>Choice</th><th>Votes</th><th>Percent</th></tr>
        {% for index,choice in choices %}
            {% set percentOfVotes=(numVotes[index] / totalVotes * 100)|round(2) %}
            <tr>
                <td>{{ choice }}</td>
                <td class="numvotes">{{ numVotes[index] }} vote{% if numVotes[index]!=1 %}s{% endif %}</td>
                <td style="width:200px">
                  {% if percentOfVotes %}
                    <div
                        class="bar"
                        style="width:{{ percentOfVotes }}%;"
                        aria-label="{{ percentOfVotes }}% of users voted for {{ choice }}"
                    >{{ percentOfVotes }}%</div>
                  {% endif %}
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="3" class="totalvotes">Total Votes: {{ totalVoters }}</td>
        </tr>
    </table>
{% else %}
    <form method='post' data-ajax-form='true'>
        <input type="hidden" name="votepoll" value="1">
        {% for index,choice in choices %}
            <div class='choice'>
                <input
                    {% if type == 'multi' %}
                        type="checkbox"
                        name="choice[]"
                    {% else %}
                        type="radio"
                        name="choice"
                    {% endif %}
                    value="{{ index }}"
                    id="poll_{{ index }}"
                >
                <label for='poll_{{ index }}'>{{ choice }}</label>
            </div>
        {% endfor %}
        <div class='buttons'>
            <input type='submit' value='Vote'>
        </div>
    </form>
{% endif %}
