{% if site_name or title %}
    <aside class="opengraph">
        {% if canEdit %}
            <a href="{{ url('post', { how: 'edit', pid: post.id, removeEmbed: source }) }}" title="Remove this embed">[X]</a>
        {% endif %}
        <a href="{{ url }}" target="_blank">
            <h4>{{ site_name }} - {{ title }}</h4>
        </a>
        <p>{{ description|nl2br }}</p>
        {% if image %}
            <a href="{{ url }}" target="_blank">
                <img src="{{ image }}" alt="{{ image__alt }}">
            </a>
        {% endif %}
    </aside>
{% endif %}
