{% if site_name or title %}
    <aside class="opengraph">
        {% if canEdit %}
            <a
                href="{{ url('post', { how: 'edit', pid: post.id, removeEmbed: source }) }}"
                title="Remove this embed"
                class="remove"
            >[X]</a>
        {% endif %}
        <a href="{{ url }}" target="_blank">
            <h4>{% if site_name %}{{ site_name }} - {% endif %}{{ title }}</h4>
        </a>
        <p>{{ description|nl2br }}</p>
        {% if image %}
            <a href="{{ url }}" target="_blank">
              {# Sonar is dumb sometimes #}
              {% set alt = image__alt %}
              <img src="{{ image }}" alt="{{ alt }}">
            </a>
        {% endif %}
    </aside>
{% endif %}
