<tr id="fid_{{forum.id}}" class="{{#if forum.isRead}}read{{else}}unread{{/if}}">
  <td class="f_icon" rowspan="2">
      {{!-- TODO: read / unread functionality --}}
      {{#if forum.isRead}}
        {{#link "forum" forum.id queryParams=(hash markRead=true) id="fid_{{forum.id}}_icon"}}
          <img src="/Service/Themes/Default/icons/read.png" alt="read" />
        {{/link}}
      {{else}}
        <a id="fid_{{forum.id}}_icon">
          <img src="/Service/Themes/Default/icons/unread.png" />
        </a>
      {{/if}}
    </a>
  </td>
  <td class="forum" rowspan="2">
    {{#link "forum" forum.id}}
      {{forum.title}}
    {{/link}}
    <div class="description">
      {{forum.subtitle}}
    </div>
    {{!-- TODO: Subforums --}}
    {{#if subforum}}
      {{> idx-subforum-wrapper}}
    {{/if}}
  </td>
  <td class="last_post" id="fid_{{forum.id}}_lastpost" colspan="2">
    {{#if forum.last_poster}}
      Last Post: {{#link "topic" forum.last_topic.id getLast=true}}{{forum.last_topic.title}}{{/link}}
      <br />
      By {{> user-link user=forum.last_poster}}, {{date forum.lp_date}}
    {{/if}}
  </td>
</tr>
<tr>
  <td class="item_1" id="fid_{{forum.id}}_topics">
    Topics: {{forum.topics}}
  </td>
  <td class="item_2" id="fid_{{forum.id}}_replies">
    Replies: {{forum.last_topic.replies}}
  </td>
</tr>
