{{!-- TODO: read / unread functionality --}}
<tr id="fid_{{forum.id}}" class="{{#if forum.isRead}}read{{else}}unread{{/if}}">
  <td class="f_icon" rowspan="2">
    {{#if forum.isRead}}
      {{#link "forum" forum.id queryParams=(hash markRead=true) id="fid_{{forum.id}}_icon"}}
        <img src="/Service/Themes/Default/icons/read.png" alt="read" />
      {{/link}}
    {{else}}
      <a id="fid_{{forum.id}}_icon">
        <img src="/Service/Themes/Default/icons/unread.png" />
      </a>
    {{/if}}
  </td>
  <td class="forum" rowspan="2">
    {{#link "forum" forum.id}}
      {{forum.title}}
    {{/link}}
    <div class="description">
      {{forum.subtitle}}
    </div>
  </td>
  <td class="last_post" colspan="2">
    {{#if forum.last_poster}}
      Last Post:
      {{#link "topic" forum.last_topic.id}}
        {{forum.last_topic.title}}
      {{/link}}
      <br />
      By {{> user-link user=forum.last_poster}}, {{date forum.lp_date}}
    {{/if}}
  </td>
</tr>
<tr>
  <td class="item_1">
    Topics: {{forum.topics}}
  </td>
  <td class="item_2">
    Replies: {{forum.last_topic.replies}}
  </td>
</tr>
