<tr id="fr_{{topic.id}}" class="{{#if topic.pinned}}pinned{{/if}}{{#if topic.locked}}locked{{/if}} %13$s">
  <td class="f_icon">
    {{! TODO: topic read/unread }}
    {{#if topic.isRead}}
      <a id="tid_{{topic.id}}_icon" href="?act=vt{{topic.id}}&markread=1">
        <img src="/Service/Themes/Default/icons/read.png" alt="read" />
      </a>
    {{else}}
      <a id="tid_{{topic.id}}_icon">
        <img src="/Service/Themes/Default/icons/unread.png" />
      </a>
    {{/if}}
  </td>
  <td class="topic">
    <a href="?act=vt{{topic.id}}" title="{{topic.summary}}" data-use-tooltip="true">
      {{topic.title}}
    </a>
    {{! TODO: Mod controls }}
    {{#if can_moderate}}
      <a href="?act=modcontrols&do=modt&tid={{topic.id}}" class="moderate" onclick="RUN.modcontrols.togbutton(this)"></a>
    {{/if}}
    <br />
    {{topic.subtitle}} {{! TODO: Insert page links }}
  </td>
  <td class="item_1">
    {{> user-link user=topic.author}}
  </td>
  <td class="item_2">
    <a href="?act=forum&amp;replies={{topic.id}}">
      Replies: {{topic.replies}}
    </a>
    <br />
    Views: {{topic.views}}
  </td>
  <td class="last_post">
    <a href="?act=vt{{topic.id}}&amp;getlast=1">
      {{date topic.lp_date}}
    </a>
    <br />
    By {{> user-link topic.last_poster}}
  </td>
</tr>
