<form action="/ACP/Groups/perms" method="post">
  <input type="hidden" name="grouplist" value="{{ group_list }}">
  <div class="permcontainer">
    * Starred are permissions not functional yet.
    <table class="perms">
      <tr class="sticky-heading">
        <th></th>
        {% for group in groups %}
          <th>
            <a class="icons edit" href="/ACP/Groups?edit={{ group.id }}">
              {{ group.title }}
            </a>
            ({{ group.id }})
          </th>
        {% endfor %}
      </tr>
      {{ permissions_table }}
    </table>
  </div>
  <div style="margin-top:20px" class="center">
    <input type="submit" value="Save Changes">
  </div>
</form>
