<tr>
  <td style="text-align: center;">
    <img src="{{ avatar_url }}" alt="Avatar" style="max-height:50px;max-width:50px;">
  </td>
  <td>
    <a href="?act=Members&do=edit&mid={{ id }}">{{ title }}</a>
    <br>
    {{ group_title }}
  </td>
  <td>
    {{ id }}
  </td>
</tr>
