<tr>
  <td>
    {{ title }}
  </td>
  <td>
    {{ global }}
  </td>
  <td>
    {{ view }}
  </td>
  <td>
    {{ read }}
  </td>
  <td>
    {{ start }}
  </td>
  <td>
    {{ reply }}
  </td>
  <td>
    {{ upload }}
  </td>
  <td>
    {{ poll }}
  </td>
</tr>
