<li id="forum_{{ id }}" class="{{ class }}">
  {{ trashcan }}
  {{ title }}
  {{ mods }}
  <a href="/ACP/Forums/delete?delete={{ id }}" class="icons delete" title="Delete"></a>
  <a href="/ACP/Forums/edit?edit={{ id }}" class="icons edit" title="Edit"></a>
  {{ content }}
</li>
