<li id="forum_{{ id }}" class="{{ class }}">
  {{ trashcan }}
  {{ title }}
  {{ mods }}
  <a href="?act=Forums&do=delete&delete={{ id }}" class="icons delete" title="Delete"></a>
  <a href="?act=Forums&do=edit&edit={{ id }}" class="icons edit" title="Edit"></a>
  {{ content }}
</li>
