<div class="contacts">
    {% for friend in friends %}
        <a
            href="{{ url('profile', { id: friend.id }) }}"
            class="user{{ friend.id }} mgroup{{ friend.groupID }} {{ friend.class }} contact"
            title="Contact"
        >
          {% include "avatar.html.twig" with { avatar: friend.avatar } %}
          <div class="name">
              {{- friend.displayName -}}
          </div>
        </a>
    {% else %}
        I'm pretty lonely, I have no friends. :(
    {% endfor %}
</div>
