<tr>
  <td>
    <img src="{{ imagePath }}" alt="{{ badge_title }}">
  </td>
  <td>
    {{ badgeTitle }}
  </td>
  <td>
    {{ description }}
  </td>
  <td>
    <a href="/ACP/Settings/badges?d={{ badgeId }}" onclick="return confirm('Are you sure?')">Delete</a>
  </td>
</tr>
