{% if success %}
    <div class="success">{{ success }}</div>
{% endif %}
{% if error %}
    <div class="error">{{ error }}</div>
{% endif %}

<p>Webhooks are a way for jaxboards to integrate with other applications.</p>

<form method="post">
    {% for service,url in webhooks%}
        <label for="webhooks_{{ service }}">{{ service|capitalize }} URL:</label>
        <input
          type="text"
          id=="webhooks_{{ service }}"
          name="webhooks[{{ service }}]"
          value="{{ url }}"
        >
        <br>
    {% endfor %}
    <br>
    <button type="submit">Save</button>
</form>
