{% if not member %}
    <form method="post" data-ajax-form="true">
        <input type="hidden" name="submit" value="showform">
        Member name:
        <input type="text" title="Enter member name" name="mname"
            data-autocomplete-action="searchmembers"
            data-autocomplete-output="#mid"
            data-autocomplete-indicator="#validname">
        <span id="validname"></span>
        <input type="hidden" name="mid" id="mid" onchange="this.form.onsubmit();">
        <input type="submit" type="View member details" value="Go">
    </form>
{% endif %}

{% if member %}
    <form method="post" data-ajax-form="true">
        <input type="hidden" name="mid" value="{{ member.id }}">
        <input type="hidden" name="submit" value="save">

        <label for="m_displayName">Display Name</label>
        <input type="text" id="m_displayName" name="displayName" value="{{ member.displayName }}">
        <br>

        <label for="m_avatar">Avatar</label>
        <input type="text" id="m_avatar" name="avatar" value="{{ member.avatar }}">
        <br>

        <label for="m_fullName">Full Name</label>
        <input type="text" id="m_fullName" name="fullName" value="{{ member.fullName }}">
        <br>

        <label for="m_about">About</label><br>
        <textarea name="about" id="m_about">{{ member.about }}</textarea>
        <br>

        <label for="m_signature">Signature</label><br>
        <textarea name="signature" id="m_signature">{{ member.sig }}</textarea>
        <br>

        <input type="submit" value="Save">
    </form>
{% endif %}
