<div class="inbox">
    <table class="listing">
        <tr>
            <th>Post</th>
            <th>Reason</th>
            <th>Reporter</th>
            <th>Acknowledger</th>
        </tr>
        {% for row in rows %}
            <tr {% if not row.report.acknowledger %}class="unread"{% endif %}>
                <td>
                    <a href="{{ url('modcontrols', { do: 'reports', reportId: row.report.id }) }}">
                        {{- row.post.post|textOnly|slice(0,100) -}}
                    </a>
                    {% if row.report.note %}
                        <br><br>
                        --<br>
                        REPORTER NOTE: {{ row.report.note }}
                    {% endif %}
                </td>
                <td>{{ row.report.reason }}</td>
                <td>
                    {% include "user-link.html.twig" with { user: row.reporter } %}<br>
                    {{ row.report.reportDate|autoDate }}
                </td>
                <td>
                    {% include "user-link.html.twig" with { user: row.acknowledger } %}<br>
                    {{ row.report.acknowledgedDate|autoDate }}
                </td>
            </tr>
        {% else %}
            <tr><td colspan="4">No reports to display.</td></tr>
        {% endfor %}
    </table>
</div>
