<tr>
  <td>
    {{ title }}
  </td>
  <td>
    {{ id }}
  </td>
  <td>
    {{ filesize }}
  </td>
  <td style="text-align:center">
    <input type="text" style="text-align:center;width:40px;" name='dl[{{ id }}]' title="Number of downloads"
      value="{{ downloads }}">
  </td>
  <td>
    <a href="/profile/{{ user_id }}">{{ username }}</a>
  </td>
  <td>
    {{ linked_in }}
  </td>
  <td style="text-align:center">
    <a onclick="return confirm('You sure?')" href="/ACP/Tools/files?delete={{ id }}" class="icons delete"
      title="Delete attachment"></a>
  </td>
</tr>
