<div class="left">
    <div class="username">
        {{ member.displayName }}
    </div>
    <div class="avatar">
        {% include "avatar.html.twig" with { avatar: member.avatar } %}
    </div>
    <div class="usertitle">
        {{ member.usertitle }}
    </div>
</div>
<div class="right">
    {% if not isGuest %}
        {% if perms.canIM %}
          <button
              data-action="close"
              onclick="IMWindow('{{ member.id }}',this.innerHTML.match(/IM (.+)/)[1]);"
              type="button"
          >
              IM {{ member.displayName }}
          </button>
        {% endif %}
        {% if perms.canPM %}
          <br>
          <a href="{{ url('inbox', { view: 'compose', mid: member.id }) }}" data-action="close">
              PM {{ member.displayName }}
          </a>
        {% endif %}
        <br>
        <br>
        {% if isFriend %}
            <a href="{{ url('contacts', { remove: member.id }) }}">Remove Contact</a>
        {% else %}
            <a href="{{ url('contacts', { add: member.id }) }}">Add Contact</a>
        {% endif %}
        <br>
        {% if isEnemy %}
            <a href="{{ url('contacts', { unblock: member.id }) }}">Unblock Contact</a>
        {% else %}
            <a href="{{ url('contacts', { block: member.id }) }}">Block Contact</a>
        {% endif %}
        <br>
        <br>
    {% endif %}

    {% if perms.canViewFullProfile %}
      <a href="{{ url('profile', { id: member.id, page: 'activity' }) }}" data-action="close">
          Full Profile
      </a>
    {% endif %}
    <div class="contact_details">
        {%- for type,link in contactLinks -%}
            <a class="{{ type }} contact" title="{{ type }} contact" href="{{ link.href }}">&nbsp;</a>
        {%- endfor -%}
    </div>
</div>
