<form method="post" data-ajax-form="true">
    <input type="hidden" name="mid" value="{{ member.id }}">
    <input type="hidden" name="submit" value="save">

    <label for="m_displayName">Display Name</label>
    <input type="text" id="m_displayName" name="displayName" value="{{ member.displayName }}">
    <br>

    <label for="m_avatar">Avatar</label>
    <input type="text" id="m_avatar" name="avatar" value="{{ member.avatar }}">
    <br>

    <label for="m_full_name">Full Name</label>
    <input type="text" id="m_full_name" name="full_name" value="{{ member.full_name }}">
    <br>

    <label for="m_about">About</label><br>
    <textarea name="about" id="m_about">{{ member.about }}</textarea>
    <br>

    <label for="m_signature">Signature</label><br>
    <textarea name="signature" id="m_signature">{{ member.sig }}</textarea>
    <br>

    <input type="submit" value="Save">
</form>
