<form method="post" action="{{ url('post') }}" data-ajax-form="true"
                onsubmit="if(this.submitButton.value.match(/post/i)) this.submitButton.disabled=true;">
<div class="topicform">
    <input type="hidden" name="how" value="{{ how }}">
    <input type="hidden" name="fid" value="{{ fid }}">
    <input type="hidden" name="tid" value="{{ tid }}">
    <label for="ttitle">Topic title:</label>
    <input
      type="text"
      name="ttitle"
      id="ttitle"
      title="Topic Title"
      value="{{ topic.title }}"
      autofocus
    >
    <br>
    <label for="tdesc">Description:</label>
    <input
        id="tdesc"
        name="tdesc"
        title="Topic Description (extra information about your topic)"
        type="text"
        value="{{ topic.subtitle }}"
        >
    <br>
    <textarea
        name="postdata"
        id="postdata"
        title="Type your post here"
        class="bbcode-editor"
        >{{ post }}</textarea>
    <br><div class="postoptions">
        {% if forumPerms.poll %}
            <label class="addpoll" for="pollType">
                Add a Poll
            </label>
            <select name="pollType" id="pollType" title="Add a poll"
                onchange="document.querySelector('#polloptions').style.display=this.value?'block':'none'">
            <option value="">No</option>
            <option value="single">Yes, single-choice</option>
            <option value="multi">Yes, multi-choice</option></select>
            <br>
            <div id="polloptions" style="display:none">
                <label for="pollq">Poll Question:</label>
                <input type="text" id="pollq" name="pollq" title="Poll Question"/><br>
                <label for="pollc">Poll Choices:</label> (one per line)
                <textarea id="pollc" name="pollchoices" title="Poll Choices"></textarea>
            </div>
        {% endif %}
        {% if forumPerms.upload %}
            <div id="attachfiles" class="addfile">
                Add Files <input type="file" name="Filedata" title="Browse for file">
            </div>
        {% endif %}
        <div class="buttons">
            <input type="submit" name="submit"
                value="{% if isEditing %}Edit Topic{% else %}Post New Topic{% endif %}"
                title="Submit your post"
                onclick="this.form.submitButton=this;"
                id="submitbutton">
            <input
                type="submit"
                name="submit"
                value="Preview"
                title="See a preview of your post"
                onclick="this.form.submitButton=this">
            </div>
    </div>
</form>
